[user]
	name = Sam Neely
	email = sam.neely@proton.me
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[push]
  autoSetupRemote = true
	default = upstream
[pull]
	default = simple
	rebase = true
[alias]
	a = add
  amend = commit --amend
	br = branch
  br-tidy = !git branch | grep -v "main" | xargs git branch -D
	cm = commit
	co = checkout
  fixup = !sh -c \"git commit --fixup=$1\" -
  la = !git config -l | grep alias | cut -c 7-
  lgrep = log -p -G
  overview = log --all --oneline --no-merges --since='2 weeks'
  pf = push --force-with-lease
  praise = blame
	pretty-log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  prune = fetch --prune
	rb = rebase
  recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
	st = status
  tidy = "!f() { \
          local branch="${1-master}"; \
          echo "Pruning branches that are already merged into $branch..."; \
          git remote prune origin && git branch --merged "$branch" | grep --color=auto --exclude-dir={.bzr,.cvs,.git,.hg,.svn} -v " $branch" | xargs -n 1 git branch -d; \
          local branch="${1-main}"; \
          echo "Pruning branches that are already merged into $branch..."; \
          git remote prune origin && git branch --merged "$branch" | grep --color=auto --exclude-dir={.bzr,.cvs,.git,.hg,.svn} -v " $branch" | xargs -n 1 git branch -d; \
          }; f"
  undo = reset --soft HEAD^
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = auto
[diff]
	compactionHeuristic = true
[rerere]
	enabled = true
[hub]
	protocol = ssh
